{% extends 'base.html' %}

{% block title %} 主页 {% endblock %}

{% block content %}
<div class='container-fluid row'>
	

	<div class="card col-sm" >
	  <div class="card-body">
	    <h5 class="card-title">信息管理</h5>
	    <p class="card-text">管理导览、商品信息</p>
	    <a href="/info" style="width:100%" class="btn btn-primary">管理</a>
	  </div>
	</div>

	<div class="card col-sm" >
	  <div class="card-body">
	    <h5 class="card-title">预约管理</h5>
	    <p class="card-text">管理预约信息</p>
	    <a href="/appointment" style="width:100%" class="btn btn-primary">管理</a>
	  </div>
	</div>

	<div class="card col-sm" >
	  <div class="card-body">
	    <h5 class="card-title">账号管理</h5>
	    <p class="card-text">管理登陆信息</p>
	    <a href="/account" style="width:100%" class="btn btn-primary">管理</a>
	  </div>
	</div>
</div>
{% endblock %}